[submodule "ws-react-dev"]
	path = ws-react-dev
	url = git@github.com-WILLSONIC:willSonic/ws-react-dev.git
[submodule "ws-node-book-bend"]
	path = ws-node-book-bend
	url = git@github.com-WILLSONIC:willSonic/ws-node-book-bend
