version: '3'

services:

  ws-node-book-bend:
    restart: always
    build:
      context: ./ws-node-book-bend
      dockerfile: ./Dockerfile.dev
    image: local-ws-node-book-bend-dev:latest
    command: ['npm', 'run', 'start:dev']
    container_name: ws-node-book-bend-container
    environment:
        - loglevel=none
    links:
        - "mongo:mongo"
    working_dir: "/usr/src/app"
    volumes:
        - ./ws-node-book-bend/.:/usr/src/app
        - "/usr/src/app/node_modules"
    ports:
        - "8080:8080"
        - "5858:5858"
  mongo:
    image: mongo:3.4
    volumes:
    - ./mongo-data:/data/db
    ports:
    - "27017:27017"

  ws-react-dev:
    restart: always
    container_name: ws-react-dev-container
    build:
      context: ./ws-react-dev
      dockerfile: ./Dockerfile.dev
    image: local/ws-react-dev-image
    command: ["npm", "run", "dockerDev"]
    volumes:
      - ./ws-react-dev/config:/usr/src/app/config
      - ./ws-react-dev/src:/usr/src/app/src
      - ./ws-react-dev/public:/usr/src/app/public
      - ./ws-react-dev/webpack.config.js:/usr/src/app/webpack.config.js
    ports:
      - '3000:3000'
